.mobile-menu-button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  margin-right: 16px;
  padding: 0;

  &-icon {
    height: 32px;
    width: 32px;

    &-close {
      display: none;
    }
  }

  &.is-open {
    .mobile-menu-button-icon-close {
      display: block;
    }

    .mobile-menu-button-icon-open {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
