.shopping-cart-button {
    align-items: center;
    border: 1px solid $borderColor;
    border-radius: 5px;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    width: 32px;
  
    &-icon {
      height: 12px;
      width: 12px;
    }
  
    @media screen and (min-width: 1280px) {
      border-radius: 10px;
      height: 40px;
      width: 40px;
  
      &-icon {
        height: 17px;
        width: 17px;
      }
    }
  }