@font-face {
  font-family: EuropeExt;
  src: url("../assets/fonts/europeext-bold.otf") format("opentype");
}

.logo {
  align-items: center;
  color: $accentColor;
  display: inline-flex;
  font-family: EuropeExt, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.24px;
  line-height: 1;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
