.form-tyres,
.form-wheels {
  background-color: $secondaryBackgroundColor;
  border-radius: 10px;
  padding: 30px 15px;

  @media screen and (min-width: 768px) {
    padding: 30px 60px 40px 40px;
  }
}

.form-title {
  font-size: 24px;
  font-weight: 600;

  &::first-letter {
    text-transform: uppercase;
  }
}

.select-group {
  display: grid;
  gap: 22px 18px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 0;

  select {
    appearance: none;
    background-color: $secondaryBackgroundColor;
    background-image: url("../img/svg/iconCaretDown.svg");
    background-position-x: calc(100% - 5px);
    background-position-y: calc(100% - 8px);
    background-repeat: no-repeat;
    border: none;
    border-bottom: 1px solid $secondaryTextColor;
    color: $secondaryTextColor;
    font-size: 14px;
    line-height: 1;
    padding: 8px 0;
  }

  button {
    grid-column: span 2;
    margin-top: 8px;

    @media screen and (min-width: 768px) {
      grid-column: span 1;
      grid-column-start: 1;
      margin-top: 22px;
    }
  }

  @media screen and (min-width: 768px) {
    gap: 18px 100px;

    select {
      background-size: 16px 16px;
      font-size: 16px;
      padding-left: 10px;
    }
  }
}
