@import './form';
@import '../buttons/formButton';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 16px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}
