.form-tyres,
.form-wheels {
  background-color: $secondaryBackgroundColor;
  border-radius: 10px;
  padding: 30px 20px;
}

.form-title {
  font-size: 24px;
  font-weight: 600;

  &::first-letter {
    text-transform: uppercase;
  }
}

.select-group {
  display: grid;
  gap: 22px 18px;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 0;

  select {
    color: $secondaryTextColor;
    font-size: 14px;
  }
}
