.achievments-title {
  font-size: 24px;
  font-weight: 600;

  &::first-letter {
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    padding-bottom: 20px;
  }
}
