$primaryBackgroundColor: #fff;
$secondaryBackgroundColor: #f5f7fa;
$accentColor: #0671e0;
$borderColor: #89939e99;
$primaryTextColor: #111;
$secondaryTextColor: #89939e;
$articleTextColor: #717171;
$articleSeparatorColor: #abbed1;